#container2
{
    padding-bottom: 200px
}
.configuration input
{
    width:100px
}
.configuration td
{
    padding-right: 10px;
}
#instructions
{
	color:red;
	font-size: 1em;
    width: 500px;
    height: 160px;
}